@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Details";
}
<div class="panel panel-default">
	<div class="panel-heading" style="font-weight: bold;">
		Details
		<a class="addbutton" href="/crud/index">
			<em class="fa fa-close color-red"> Đóng</em>
		</a>
	</div>
	<div class="panel-body">
		<div class="col-lg-12">
			<input style="margin-bottom: 10px;" class="form-control" id="myInput1" type="text" placeholder="Search">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Mã Quốc Gia</th>
						<th scope="col">Tên Quốc Gia </th>
						<th scope="col">Số Lượng Cầu Thủ</th>
					</tr>
				</thead>
				<tbody id="Product">
					<tr>
						<th scope="row">VN</th>
						<td>Việt Nam</td>
						<td>23</td>
	
					</tr>
						
				</tbody>
			</table>
		</div>
	</div>
		<div class="panel-footer">
		<a href="/crud/index"> <button type="button" class="btn btn-lg btn-primary">Go back index</button></a>
		</div>
</div>
</div>