<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sky</title>
	<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/assets/css/datepicker3.css" rel="stylesheet">
	<link href="~/assets/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sky.styles.css" asp-append-version="true" />
</head>
<body>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
					<a href="index.html">
						<em class="fa fa-home"></em>
					</a>
				</li>
				<li class="active">@ViewData["Title"]</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">@ViewData["Title"]</h1>
			</div>
		</div><!--/.row-->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><span>S</span>ky</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-1/272199311_3042407815971784_3816958182075697482_n.jpg?stp=c347.185.479.479a_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=7206a8&_nc_ohc=2LW6GMBx3-4AX_skB3V&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAK75W_nUhKPih1MCAK_6qKZrYYUFDYmnLy9PKfir120A&oe=6381E1D1"
					 class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Admin</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="#"><em class="fa fa-dashboard">&nbsp;</em> Đội bóng</a></li>
			<li><a href="#"><em class="fa fa-sticky-note">&nbsp;</em> Cầu Thủ</a></li>
			<li><a href="#"><em class="fa fa-send-o">&nbsp;</em> Trận đấu</a></li>
		</ul>
	</div>
 
            @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Sky - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
