<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sky</title>
	<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/assets/css/datepicker3.css" rel="stylesheet">
	<link href="~/assets/css/styles.css" rel="stylesheet">
	<link href="~/css/all.css" rel="stylesheet"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sky.styles.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("js",false)
</body>
</html>
